<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="https://speedment.github.io/jpa-streamer/">Home</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Resources</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://gitter.im/speedment/jpa-streamer">Gitter Chat</a>
            <a class="navbar-item" href="https://jpastreamer.org">Website</a>
            <a class="navbar-item" href="https://github.com/speedment/jpa-streamer">GitHub</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
