.breadcrumbs {
  display: block;
  flex: 1 1;
  margin-bottom: -0.5rem;
  padding: 0 0.5rem 0 0;
  font-family: var(--body-headline-font-family);
  font-size: 0.9rem;
  line-height: var(--nav-line-height);
}

a + .breadcrumbs {
  padding-left: 0.05rem;
}

.breadcrumbs ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs li {
  display: inline;
  margin: 0;
}

.breadcrumbs li::after {
  content: "/";
  padding: 0 0.5rem;
}

.breadcrumbs li:last-of-type::after {
  content: none;
}
