@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  src:
    local("Metropolis"),
    local("Metropolis-Regular"),
    url(../font/Metropolis-Regular.otf) format("otf");
}

@font-face {
  font-family: "Metropolis";
  font-style: italic;
  font-weight: 400;
  src:
    local("Metropolis Italic"),
    local("Metropolis-Italic"),
    url(../font/Metropolis-RegularItalic.otf) format("otf");
}

@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 600;
  src:
    local("Metropolis SemiBold"),
    local("Metropolis-SemiBold"),
    url(../font/Metropolis-SemiBold.otf) format("otf");
}

@font-face {
  font-family: "Metropolis";
  font-style: italic;
  font-weight: 600;
  src:
    local("Metropolis SemiBold Italic"),
    local("Metropolis-SemiBold-Italic"),
    url(../font/Metropolis-SemiBoldItalic.otf) format("otf");
}
