:root {
  /* colors */
  --color-white: #fff;
  --color-smoke-10: #fefefe;
  --color-smoke-30: #fafafa;
  --color-smoke-50: #f5f5f5;
  --color-smoke-70: #f0f0f0;
  --color-smoke-90: #f3f9ff;
  --color-gray-10: #cdd5dc;
  --color-gray-30: #a7b2b9;
  --color-gray-50: #808f95;
  --color-gray-70: #5a6b72;
  --color-jet-20: #4b595f;
  --color-jet-30: #3c474c;
  --color-jet-50: #2d3639;
  --color-jet-70: #1e2426;
  --color-jet-80: #0f1213;
  --color-black: #000;
  --color-speedment-blue-80: #155d89;
  --color-speedment-blue-60: #2171ad;
  --color-speedment-blue-40: #5a98c8;
  --color-speedment-blue-20: #93c0e4;
  --color-speedment-red-80: #bf4545;
  --color-speedment-red-60: #bf4545;
  --color-speedment-red-40: #d66969;
  --color-speedment-red-20: #f2b3b3;
  --color-speedment-yellow-80: #ffcf38;
  --color-speedment-yellow-60: #ffda64;
  --color-speedment-yellow-40: #fce390;
  --color-speedment-yellow-20: #fff2c8;
  --color-speedment-green-80: #3a9b79;
  --color-speedment-green-60: #33b88a;
  --color-speedment-green-40: #5abf95;
  --color-speedment-green-20: #9be9ce;
  --color-speedment-cyan-80: #4bb0b2;
  --color-speedment-cyan-60: #6dc6c7;
  --color-speedment-cyan-40: #8fdcdb;
  --color-speedment-cyan-20: #b1f2f0;
  /* fonts */
  --rem-base: 18; /* used to compute rem value from desired pixel value (e.g., calc(18 / var(--rem-base) * 1rem) = 18px) */
  --body-font-size: 1.0625em; /* 17px */
  --body-font-size--desktop: 1.125em; /* 18px */
  --body-font-size--print: 0.9375em; /* 15px */
  --body-line-height: 1.15;
  --body-font-color: var(--color-jet-70);
  --body-font-family: "Source Sans Pro", sans-serif;
  --body-font-weight-bold: 600;
  --monospace-font-family: "Source Code Pro", monospace;
  --monospace-font-weight-bold: 500;
  --body-headline-font-family: "Metropolis", sans-serif;
  --body-headline-font-weight: 600;
  /* base */
  --body-background: var(--color-white);
  --panel-background: var(--color-smoke-30);
  --panel-border-color: var(--color-gray-50);
  --scrollbar-thumb-color: var(--color-gray-10);
  /* navbar */
  --content-margin: 2rem 0 0 0;
  /* navbar */
  --navbar-background: var(--color-jet-80);
  --navbar-font-color: var(--color-white);
  --navbar_hover-background: var(--color-black);
  --navbar-button-background: var(--color-white);
  --navbar-button-border-color: var(--panel-border-color);
  --navbar-button-font-color: var(--body-font-color);
  --navbar-menu-border-color: var(--panel-border-color);
  --navbar-menu-background: var(--color-white);
  --navbar-menu-font-color: var(--body-font-color);
  --navbar-menu_hover-background: var(--color-smoke-50);
  /* nav */
  --nav-background: var(--color-jet-70);
  --nav-font-color: var(--color-white);
  --nav-border-color: var(--color-gray-10);
  --nav-line-height: 1.35;
  --nav-heading-font-color: var(--color-jet-30);
  --nav-muted-color: var(--color-gray-70);
  --nav-panel-divider-color: var(--color-smoke-90);
  --nav-secondary-background: var(--color-smoke-70);
  /* toolbar */
  --toolbar-background: transparent;
  --toolbar-border-color: transparent;
  --toolbar-font-color: var(--color-gray-70);
  --toolbar-muted-color: var(--color-gray-30);
  --page-version-menu-background: var(--color-smoke-70);
  --page-version-missing-font-color: var(--color-gray-30);
  /* toc */
  --toc-font-color: var(--nav-muted-color);
  --toc-heading-font-color: var(--doc-font-color);
  --toc-border-color: var(--panel-border-color);
  --toc-line-height: 1.2;
  /* admonitions */
  --caution-color: var(--color-speedment-yellow-60);
  --caution-on-color: var(--color-white);
  --important-color: var(--color-speedment-red-80);
  --important-on-color: var(--color-white);
  --note-color: var(--color-speedment-blue-40);
  --note-on-color: var(--color-white);
  --tip-color: var(--color-speedment-green-40);
  --tip-on-color: var(--color-white);
  --warning-color: var(--color-speedment-yellow-60);
  --warning-on-color: var(--color-white);
  /* doc */
  --doc-font-color: var(--color-jet-50);
  --doc-font-size: inherit;
  --doc-font-size--desktop: calc(17 / var(--rem-base) * 1rem);
  --doc-line-height: 1.6;
  --doc-margin: 0 auto;
  --doc-margin--desktop: 0 2rem;
  --heading-font-color: var(--color-jet-80);
  --heading-font-weight: 600;
  --alt-heading-font-weight: var(--body-font-weight-bold);
  --section-divider-color: var(--panel-border-color);
  --link-font-color: var(--color-speedment-blue-60);
  --link_hover-font-color: var(--color-speedment-blue-60);
  --link_unresolved-font-color: var(--important-color);
  --abstract-background: var(--color-smoke-70);
  --abstract-font-color: var(--color-jet-20);
  --abstract-border-color: var(--panel-border-color);
  --admonition-background: var(--panel-background);
  --admonition-label-font-weight: var(--body-font-weight-bold);
  --caption-font-color: var(--color-gray-70);
  --caption-font-weight: var(--body-font-weight-bold);
  --code-background: var(--panel-background);
  --code-font-color: var(--body-font-color);
  --example-background: var(--color-white);
  --example-border-color: var(--color-gray-70);
  --kbd-background: var(--panel-background);
  --kbd-border-color: var(--color-gray-10);
  --pre-background: var(--panel-background);
  --pre-border-color: var(--panel-border-color);
  --pre-annotation-font-color: var(--color-gray-10);
  --quote-background: var(--panel-background);
  --quote-border-color: var(--color-gray-70);
  --quote-font-color: var(--color-gray-70);
  --quote-attribution-font-color: var(--color-gray-30);
  --sidebar-background: var(--color-smoke-90);
  --table-border-color: var(--panel-border-color);
  /* footer */
  --footer-line-height: var(--doc-line-height);
  --footer-background: var(--color-smoke-90);
  --footer-font-color: var(--color-gray-70);
  --footer-link-font-color: var(--color-jet-80);
  /* dimensions and positioning */
  --navbar-height: calc(63 / var(--rem-base) * 1rem);
  --toolbar-height: calc(45 / var(--rem-base) * 1rem);
  --drawer-height: var(--toolbar-height);
  --body-top: var(--navbar-height);
  --body-min-height: calc(100vh - var(--body-top));
  --nav-height: calc(var(--body-min-height) - var(--toolbar-height));
  --nav-height--desktop: var(--body-min-height);
  --nav-panel-height: calc(var(--nav-height) - var(--drawer-height));
  --nav-panel-height--desktop: calc(var(--nav-height--desktop) - var(--drawer-height));
  --nav-width: calc(300 / var(--rem-base) * 1rem);
  --toc-top: calc(var(--body-top) + var(--toolbar-height));
  --toc-height: calc(100vh - var(--toc-top) - 2.5rem);
  --toc-width: calc(162 / var(--rem-base) * 1rem);
  --toc-width--widescreen: calc(216 / var(--rem-base) * 1rem);
  --doc-max-width: calc(720 / var(--rem-base) * 1rem);
  --doc-max-width--desktop: calc(828 / var(--rem-base) * 1rem);
  /* stacking */
  --z-index-nav: 1;
  --z-index-toolbar: 2;
  --z-index-page-version-menu: 3;
  --z-index-navbar: 4;
}
